doctype html
html
  head
    block head
      title simpleBind.js
    meta(name='viewport', content='width=device-width, user-scalable=yes')

    block headerStyles
      link(href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet')
    //- meta(name='apple-mobile-web-app-capable' content='yes')
    //- link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon.png")
    //- link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    //- link(rel="manifest", href="/manifest.json")
    //- link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    //- meta(name="theme-color", content="#ffffff")
    //- meta(name='ROBOTS' content='NOINDEX, NOFOLLOW')
    block neck

  body
    section#header
    block body
    section#footer
    block foot
      script(src='/simpleBind.umd.js')
      script(src='/vendor/devTools.umd.js')